@font-face {
    font-family: 'Helvetica';
    src: url("http://d2mxabrykbl1km.cloudfront.net/fonts/helvetica.eot") format("embedded-opentype"), url("http://d2mxabrykbl1km.cloudfront.net/fonts/helvetica.woff") format("woff"), url("http://d2mxabrykbl1km.cloudfront.net/fonts/helvetica.ttf") format("truetype"), url("http://d2mxabrykbl1km.cloudfront.net/fonts/helvetica.svg#helvetica") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url("http://d2mxabrykbl1km.cloudfront.net/fonts/helvetica_bold.eot") format("embedded-opentype"), url("http://d2mxabrykbl1km.cloudfront.net/fonts/helvetica_bold.woff") format("woff"), url("http://d2mxabrykbl1km.cloudfront.net/fonts/helvetica_bold.ttf") format("truetype"), url("http://d2mxabrykbl1km.cloudfront.net/fonts/helvetica_bold.svg#helvetica_bold") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Helvetica-Light';
    src: url("http://d2mxabrykbl1km.cloudfront.net/fonts/helvetica_light.eot") format("embedded-opentype"), url("http://d2mxabrykbl1km.cloudfront.net/fonts/helvetica_light.woff") format("woff"), url("http://d2mxabrykbl1km.cloudfront.net/fonts/helvetica_light.ttf") format("truetype"), url("http://d2mxabrykbl1km.cloudfront.net/fonts/helvetica_light.svg#helvetica_light") format("svg");
    font-weight: normal;
    font-style: normal
}